{% extends 'base.html.twig' %}

{% block title %}🌊 Surf the Wave !{% endblock %}

{% block body %}
  <style>
      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div class="container">
    <h1 class="text-center text-warning">Welcome to Wave!</h1>
    <div class="row mt-5 p-5">
      <div class="col-4 waveform pt-5 px-2 mb-5">
        <div class="logo">
          <img src="../images/spouting-whale_1f433.png" alt="wave logo">
        </div>
        <div class="form-group">
          {{ form_start(form) }}
            {{ form_row(form.file) }}
            <div class="row">
              <div class="col-7">
                {{ form_row(form.recipient) }}
              </div>
              <div class="col-5">
                {{ form_row(form.recipientName) }}
              </div>
            </div> <!-- end row -->
            <div class="row">
              <div class="col-7">
                {{ form_row(form.sender) }}
              </div>
              <div class="col-5">
                {{ form_row(form.senderName) }}
              </div>
            </div> <!-- end row -->
            {{ form_row(form.message) }}
            <div class="text-center justify-content-center">
              {{ form_row(form.submit, { 'class': 'btn btn-lg btn-block' }) }}
            </div>






          {{ form_end(form) }}
        </div>
      </div>

      <!-- <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div> -->
    </div>
  </div>
  <svg class="editorial"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none">
  <defs>
    <path id="gentle-wave"
    d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z" />
  </defs>
    <g class="parallax">
     <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
     <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1"/>
     <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa"/>
    </g>
  </svg>
{% endblock %}
